.gradle/5.4.1/executionHistory/executionHistory.bin
.gradle/5.4.1/executionHistory/executionHistory.lock
.gradle/5.4.1/fileHashes/fileHashes.bin
.gradle/5.4.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/caches/build_file_checksums.ser
.idea/caches/gradle_models.ser
.idea/libraries/Gradle__android_android_28.xml
.idea/misc.xml
.idea/workspace.xml
app/app.iml
local.properties
.gradle/5.4.1/fileHashes/fileHashes.bin
.gradle/5.4.1/fileHashes/fileHashes.bin
.gradle/5.4.1/fileHashes/fileHashes.lock
.idea/workspace.xml
.idea/workspace.xml
local.properties
local.properties
local.properties
.gradle/5.6.4/executionHistory/executionHistory.bin
.gradle/5.6.4/executionHistory/executionHistory.lock
.gradle/5.6.4/fileHashes/fileHashes.bin
.gradle/5.6.4/fileHashes/fileHashes.lock
.gradle/5.6.4/fileHashes/resourceHashesCache.bin
.gradle/5.6.4/javaCompile/classAnalysis.bin
.gradle/5.6.4/javaCompile/jarAnalysis.bin
.gradle/5.6.4/javaCompile/javaCompile.lock
.gradle/5.6.4/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/caches/build_file_checksums.ser
.idea/gradle.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_base_16_0_1_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_basement_16_1_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_tasks_16_0_1_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_auth_16_0_5_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_auth_interop_16_0_1_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_common_16_0_3_aar.xml
.idea/misc.xml
.idea/modules.xml
app/build.gradle
app/gpsalarm-app.iml
GPS Alarm.iml
local.properties
